spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    driver-class-name: org.h2.Driver
    # url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    url: jdbc:h2:file:./database/nestdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: sa
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: create
server:
  port: 9090
  context-path: /nest
  tomcat:
    uri-encoding: UTF-8
application:
  allows-anonymous-access: true